/*
* The application styles.
* @version 1.0.0
*/

html, body {
	padding: 0;
	margin: 0;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        /* Set your content font stack here: */
        font-family: 'Europe', Verdana, Arial, sans-serif;
    }

body {
	/* The base is 16px */
	/*font-family: 'Europe', Verdana, Arial, sans-serif;*/
	font-size: 100%;
    line-height: 1.125em;
	letter-spacing: 1px;

	background-color: black;
	color: #00cbfe;
	padding: 2.175em;

	/* The first background image */
    background: url(resources/background.jpg) no-repeat center fixed;
    background-size: cover;
}

#info {
	font-size: 50%;
	float: right;
}

header {
	height: 3em;
	display: flex;
	margin-bottom: 4em;
}

#logo {
	flex: 2;
}

#logo img {
	height: 100%;
}

#time, #date {
	flex: 1;
}

#time {
	position: relative;
}

#time * {
	position: absolute;
}

.hex-icon, .hex-icon-calendar {
	left: 1.6em;
    width: 36px;
    height: 36px;
    margin: 0;
    top: .8em;
    z-index: 22;
}

.hex-icon-calendar {
	position: absolute;
    left: 4.5em;
}

.clock, #month-day, #month-name, #year {
	display: block;
	font-size: 2.5em;
	text-align: center;
	line-height: 1.5em;
	top: 0;
    left: 2.5em;
}

#month-day, #month-name, #year {
	position: absolute;
}

#month-day {
	left: 3.7em;
}

#month-name {
	left: 6.5em;
}

#year {
	left: 9.8em;
}

#date {
	padding-left: 3em;
	position: relative;
}

#date svg {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Counter */
#data {
	counter-reset: row-counter;
}

#data div.row:before {
	content: counter(row-counter, decimal-leading-zero);
	counter-increment: row-counter;
	position: absolute;
	top: 0;
	left: -2em;
	color: #676566;
}

.row {
	position: relative;
}

/* Table */
#timetable {
	text-transform: uppercase;
}

.th, .tr {
	width: 100%;
	display: flex;
}

.th {
	height: 100%;
	background: linear-gradient(to bottom,  #009fd7 0%,#009fd7 50%,#009fd7 50%,rgba(0, 204, 255, .5) 50%,rgba(0, 204, 255, .5) 100%);
}

.th div {
	color: white;
	line-height: 3em;
    font-size: .8em;
	flex: 1;
	/*margin-left: 1em;*/
}

.type-icon {
	    float: left;
    height: 2.2em;
    padding-right: 0.2em;
}

.th div:nth-child(1), .th div:last-child, .tr div:nth-child(1), .tr div:last-child {
	text-align: center;
}

.tr {
	border: 2px solid #00ccff;
	background-color:rgba(0, 204, 255, .15);
	color:#00cbfe;
	/*padding: .5em 0;*/
	display: flex;
	    height: 100%;
    line-height: 2.25em;
    padding: .8em 0;
}

.row:not(.canceled):nth-child(odd) {
	background-color:rgba(0, 204, 255, .1);
}

.row.canceled .tr, .row.canceled .tr span {
	color: #676566;
	border-color: #676566;
}

.row.canceled .tr {
	background-color:rgba(0, 0, 0, .2);
}

.row.canceled .tr div {
	border-image-source: url(resources/icon_arrow_narrow_dis.svg);
}

.tr div {
	/*text-align: center;*/
	vertical-align: middle;
	line-height: inherit;
	flex: 1;
	/*margin: 1em 0 0 0;*/
	/*line-height: 2.25em;*/
}

/* Do not transform the 5th column */
.tr div:nth-child(5) {
	text-transform: none;
}

.tr div:nth-child(2) {
	line-height: initial;
}


.tr div:nth-child(2), .th div:nth-child(2) {
	flex: 2;
}

.tr div:nth-child(3), .th div:nth-child(3),
.tr div:nth-child(5), .th div:nth-child(5) {
	flex: 1.5;
}

.tr div:nth-child(4), .th div:nth-child(4) {
	flex: .5;
}

.tr div:nth-child(5), .th div:nth-child(5) {
	padding-left: 3em;
	flex: 1;
}

.tr div:nth-child(1), .tr div:nth-child(2), .tr div:last-child, .th div:nth-child(1), .th div:last-child {
	border: none;
}

.tr div:nth-child(1), .tr div:nth-child(3) {
	font-size: 2em;
	margin: 0;
}

.tr div:nth-child(3) {
	/*margin-left: 1.2em;*/
	font-size: 1.4em;
}

/* Row */
.head-row, .row {
	display: flex;
	width: 100%;
}

.head-row {
	margin-bottom: 1em;
}

.row {
	margin-bottom: .5em;
}

.fake-left, .fake-right {
	width: .1em;
}

.tr div, .th div {
	height: 100%;
    /*border-right: red 1em solid;
    border-image-source: url(resources/icon_arrow_narrow.svg);
    border-image-slice: 0 100%;*/
	/*margin-left: 1em;*/
}

.th div {
	/*padding-right: 1em;*/
}

.table-header-wrapper {
	display: flex;
}

.table-header {
	width: 100%;
}



tr td:nth-child(1) {
	width: 12%;
	text-align: center;
}


.type-name {
	display: block;
	color: white;
}

.type-name::after {
	content: ':';
}

.status-landing {
	color: #99fe00;
}

.status-canceled {
	color: #fe0000;
}

.status-preorder {
	color: #ffca00;
}
