.block {
  background-color: #00ccff;
  color: white;
  text-transform: uppercase;
  /*min-width: 8em;*/

  flex: 1;
  position: relative;
}

.block div {
  font-size: 3.4vh;
  line-height: 2em;
position: absolute;
/*top: 50%;*/
left: 10%;
/*transform: translateY(-50%);*/

overflow-x: hidden;
overflow-y: auto;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/

    right: 1px;
}
