
.date_time div img {
  height: 6vh;
}

.date_time__time_block {
  margin-right: 2em;
  width: 12em;
}

.date_time__time_block, .date_time__date_block {
  position: relative;
  display: inline-block;
}

.clock_value, .month_day, .month_name, .year {
  position: absolute;
  top: 47%;
  transform: translateX(-50%) translateY(-50%);

  font-size: 4vh;
}

.month_day {
  left: 26%;
}

.month_name {
  left: 51%;
}

.year {
  left: 80%;
}

.clock_value {
    left: 60%;
}

.transition {
  /*transition: opacity .15s ease-in-out;*/
}

.time_block {
  height: 6vh;
  enable-background:new 0 0 609.7 133.6;
}

.date_block {
  height: 6vh;
  enable-background:new 0 0 611.8 72.3;
}

.date_block .st1 {
  stroke-width:2;
}

.st0{opacity:0.5;enable-background:new    ;}
.st1{fill:none;stroke:#00CCFF;stroke-width:4;}
.st2{fill:#00CCFF;}
