<!DOCTYPE html>
<html class="g-doc">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Timetable 0.2.0</title>
  </head>
  <body class="g-page">
    <div id="root" class="g-section"></div>
  </body>
</html>
